<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetSetTrip</title>
</head>
<body>
    <h1>GetSetTrip</h1>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>