<% layout('layouts/boilerplate') -%>

<body>
    <h3>Listings</h3>
    <form action="/listings/new" method="GET">
        <button>Create new Listing</button>
    </form>
    <br>
    <% for(let list of listings) {%>
        <a href="/listings/<%=list._id%>"><%= list.title %></a>
        <br>
    <% } %>
</body>
